Package: com.qwertyoruiop.uisettings5
Name: UISettings-iOS5
Version: 5.1
Architecture: iphoneos-arm
Description: Extensible Toggle Platform
Maintainer: nothing2hide
Author: nothing2hide
Section: Tweaks
